.container {
    min-width: 350px;
    max-width: 500px;
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .buttons {
        text-align: right;

        button {
            margin-left: 10px;
        }
    }

    .error-snackbar {
        background-color: #f44336;
        color: #fff;
    }

    .error-message {
        color: red;
        margin-top: -10px;
        margin-bottom: 20px;
        text-align: center;
    }

    .error-field .mat-form-field-underline {
        background-color: #f44336 !important;
    }

    .error-field .mat-form-field-label {
        color: #f44336 !important;
    }

    .error-field .mat-input-element {
        border-color: #f44336 !important;
    }


}