<div class="container">
    <h1>Listado de préstamos</h1>

    <!-- Código para la zona de filtrado -->

    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Título juego</mat-label>
                <mat-select [(ngModel)]="filterGame" name="game">
                    <mat-option value="">-</mat-option>
                    <mat-option *ngFor="let game of games" [value]="game">{{ game.title }}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Si queremos que el filtro sea un text input y no un combobox
            <mat-form-field>
                <mat-label>Título del juego</mat-label>
                <input type="text" matInput placeholder="Título del juego" [(ngModel)]="filterGameTitle"
                    name="gameTitle">
            </mat-form-field>
            -->
            <mat-form-field>
                <mat-label>Cliente</mat-label>
                <mat-select disableRipple [(ngModel)]="filterClient" name="client">
                    <mat-option value="">-</mat-option>
                    <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de préstamo</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="filterStartDate" name="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </form>

        <div class="buttons">
            <button mat-stroked-button (click)="onCleanFilter()">Limpiar</button>
            <button mat-stroked-button (click)="onSearch()">Filtrar</button>
        </div>
    </div>

    <!-- Fin código para la zona de filtrado -->

    <!-- Tabla con listado de préstamos -->

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gameName">
            <mat-header-cell *matHeaderCellDef> Nombre del juego </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clientName">
            <mat-header-cell *matHeaderCellDef> Nombre del cliente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startLoanDate">
            <mat-header-cell *matHeaderCellDef> Fecha de préstamo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startLoanDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endLoanDate">
            <mat-header-cell *matHeaderCellDef> Fecha de devolución </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endLoanDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="deleteLoan(element)"><mat-icon>clear</mat-icon></button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber"
        [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>


    <div class="new-button">
        <button mat-flat-button color="primary" (click)="createLoan()">Nuevo préstamo</button>
    </div>
</div>